{% extends "base.html" %}

{% block title %}Main{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

<h1>Design Patterns</h1>
<p class="lead">
Nothing swank, just practising the basics.
</p>

<ul class="list-group ">
  <li class="list-group-item border-0">
    <a href="/singleton/1">Singleton</a>
    <span>(Create
      <input type="number" class="number-small" id="singleton_count" name="singleton_count" min="1" max="10" value="1">
    Instances)</span>
  </li>
</ul>

{% endblock %}
